# الأساسيات والتنفيذ
python-telegram-bot==20.6
fastapi==0.109.1
uvicorn==0.27.0
python-multipart==0.0.9

# معالجة الوسائط
yt-dlp==2024.4.9
aiofiles==23.2.1

# قواعد البيانات
sqlalchemy==2.0.25
alembic==1.13.1

# البيئة والتحقق
python-dotenv==1.0.1
pydantic==2.6.4
pydantic-settings==2.2.1  # أضف هذه الحزمة الجديدة

# التطوير والاختبار
faker==24.9.0

# مكتبات إضافية
loguru==0.7.2
httpx==0.25.2
python-dateutil==2.9.0